#about img {
  width: 100px;
}
#about .modal-body {
  padding-bottom: 10px;
}
#about table {
  width: 100%;
  margin: 10px;
}
#about a, #about a:hover, #about a:active, #about a:visited {
  color: #aaaacc;
  text-decoration: none;
}
