#alertBox {
  padding: 0;
  position: fixed;
  z-index: 500;
  margin: 0;
  text-align: center;
  height: 35px;
}
#dismissAlert {
  position: absolute;
  right:0;
  top:0;
  z-index: 600;
  height: 34px;
  margin: 0;
  padding: 5px 10px;
  cursor: pointer;
}
#alertBox .form-control, #alertBox .form-control:focus {
  height: 25px;
}
#alertBox .btn {
  height: 25px;
}
#alertBox .error {
}
#alertBox .btn-success {
}
