#regionTable {
  font-size: 12px;
}
#regionTable .instanceData {
  cursor: pointer;
}
#regionTable tbody {
  border: none;
}
#regionTable tr td {
  border: none !important;
}
#regionTable tr th {
  border: none;
}
#regionTable .select {
  font-size: 13px;
  margin: 0;
  padding: 0px 10px;
  border: none;
}
#regionSettingsHeader input {
  font-size: 13px;
  height: 25px;
}
#regionHeaders th {
  cursor: pointer;
}
#regionTable .btn-ssh {
  font-size: 11px;
  padding: 1px 5px;
  cursor: pointer;
}
