#cloudTable {
  font-size: 12px;
}
#cloudTable .instanceData {
  cursor: pointer;
}
#cloudTable tbody {
  border: none;
}
#cloudTable tr td {
  border: none !important;
}
#cloudTable tr th {
  border: none;
}
#cloudTable .select {
  font-size: 13px;
  margin: 0;
  padding: 0px 10px;
  border: none;
}
#cloudSettingsHeader input {
  font-size: 13px;
  height: 25px;
}
#cloudHeaders th {
  cursor: pointer;
}
#cloudTable .btn-ssh {
  font-size: 11px;
  padding: 1px 5px;
  cursor: pointer;
}
