@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400');
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 300;
}
html,
body,
#app {
  height: 100%;
  display: flex;
}
#wrapper {
  width: 100vw;
  height: 100vh;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.fa {
  cursor: pointer;
}
.btn:active {
  border: none;
}
