#left-menu {
  width: 45px;
  background: #444444;
  position: fixed;
  height: 100%;
  z-index: 1;
  height: 100vh;
}

#left-menu i {
  margin: 15px 0px;
}
#left-menu .fa-stack {
  margin: -8px -5px;
}
