#left-menu {
  width: 45px;
  position: fixed;
  height: 100%;
  z-index: 1;
  height: 100vh;
}

#left-menu i {
  margin: 15px 0px 15px -1px;
  font-size: 1.75em !important;
}
#left-menu .fa-stack {
  margin: -8px -5px;
}
