.orgSelect {
  font-size: 13px;
  margin: 0;
  padding: 0px 10px;
  width: 90%;
  border: none;
  height: 25px;
}

#leftMenuExpanded {
  margin: 0 0 0 45px;
  padding: 0;
  position: fixed;
  width: 200px;
  height: 100vh;
  z-index: 1;
  overflow: auto;
}

#leftMenuExpanded .header {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 100;
  width: 100%;
  margin: 0;
  padding: 10px 0 10px 0;
  text-align: center;
  height: 40px;
}

#leftMenuExpanded .select {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 100;
  width: 100%;
  margin: 0;
  padding: 10px 0 10px 0;
  text-align: center;
}

#leftMenuExpanded #orgDetails {
  margin: 0;
  padding: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
}

#leftMenuExpanded #orgMenu {
  width: 100wv;
  text-align: center;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

#leftMenuExpanded .cloudServiceContent {
  margin-left: 10px;
}

#leftMenuExpanded .cloudServiceContent div:hover {
  cursor: pointer;
}

#leftMenuExpanded #orgMenu button {
  width: 95%;
  padding: 2px 5px;
  font-size: 12px;
  cursor: pointer;
}


