#orgSettings {
  margin: 5px;
}

#orgSettings .cloug{
  margin-left: 20px;
}

#orgSettings .toggle {
  cursor: pointer;
}

#orgSettings .cloudBordered {
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0px 15px 0px;
}

#orgSettings .cloudKeys {
  margin: 0;
  padding: 5px 10px;
  margin-top: 10px;
}

#orgSettings .cloudConfig {
  margin: 0;
  padding: 0 0 10px 0;
  margin-top: 10px;
}

#orgSettings .input-sm {
  height: 25px;
  font-size: 13px;
}

#orgSettings .btn-sm {
  padding: 2px 5px;
  font-size: 12px;
  cursor: pointer;
}

#orgSettings .newregion-select {
  font-size: 13px;
  margin: 0;
  padding: 0px 10px;
  width: 250px;
  border: none;
  height: 25px;
  display: inline-block;
}

#orgSettings .userSelect {
  font-size: 13px;
  margin: 0;
  padding: 0px 10px;
  width: 90%;
  border: none;
  height: 25px;
}

#orgSettings .keystable {
  margin-top: 10px;
  width: 100%;
}

#orgSettings .keystable tr td, #orgSettings .keystable tr th {
  border: none;
}

#orgSettings #newCustomUser {
  font-size: 13px;
  width: 200px;
  height: 25px;
}

#orgSettings #deleteOrg {
  position: fixed;
  bottom: 0;
  right: 25px;
}
