#orgSettings {
  margin: 5px;
}

#orgSettings .region{
  margin-left: 20px;
}

#orgSettings .toggle {
  cursor: pointer;
}

#orgSettings .regionBordered {
  border-radius: 5px;
  box-shadow: 4px 4px 8px #000;
  border: 1px solid #666666;
  padding: 10px;
  margin: 5px 0px;
}

#orgSettings .regionKeys {
  background: #444444;
  margin: 0;
  padding: 5px 10px;
  margin-top: 10px;
}

#orgSettings .regionConfig {
  background: #444444;
  margin: 0;
  padding: 0 0 10px 0;
  margin-top: 10px;
}

#orgSettings .input-sm {
  height: 25px;
  font-size: 13px;
  color: #aaaaaa;
  background: #000000;
}

#orgSettings .btn-sm {
  padding: 2px 5px;
  font-size: 12px;
  cursor: pointer;
}

#orgSettings .newregion-select {
  background: #000000;
  color: #aaaaaa;
  font-size: 13px;
  margin: 0;
  padding: 0px 10px;
  width: 250px;
  border: none;
  height: 25px;
  display: inline-block;
}

#orgSettings .userSelect {
  background: #000000 !important;
  color: #aaaaaa !important;
  font-size: 13px;
  margin: 0;
  padding: 0px 10px;
  width: 90%;
  border: none;
  height: 25px;
}

#orgSettings .keystable {
  border-top: 1px solid #888888;
  margin-top: 10px;
  width: 100%;
}

#orgSettings .keystable tr td, #orgSettings .keystable tr th {
  border: none;
}

#orgSettings #newCustomUser {
  font-size: 13px;
  width: 200px;
  height: 25px;
}

#orgSettings #deleteOrg {
  position: fixed;
  bottom: 0;
  right: 25px;
}

#orgSettings .btn-default {
  background: darkslategrey !important;
  color: white !important;
}

#orgSettings .btn-default:hover {
  background: darkgrey !important;
}
