#serverInfo {
  height: 25px;
  font-family: 'Source Code Pro', monospace;
  font-size: 12px;
}
.terminal {
  font-family: 'Source Code Pro', monospace;
  font-size: 12px;
  font-feature-settings: "liga" 0;
  position: relative;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  width: calc(100vw - 260px);
  height: 95vh;
}

.terminal.focus,
.terminal:focus {
  outline: none;
}

.terminal .xterm-helpers {
  position: absolute;
  top: 0;
}

.terminal .xterm-helper-textarea {
  /*
   * HACK: to fix IE's blinking cursor
   * Move textarea out of the screen to the far left, so that the cursor is not visible.
   */
  position: absolute;
  opacity: 0;
  left: -9999em;
  top: 0;
  width: 0;
  height: 0;
  z-index: -10;
  /** Prevent wrapping so the IME appears against the textarea at the correct position */
  white-space: nowrap;
  overflow: hidden;
  resize: none;
}

.terminal a {
  color: inherit;
  text-decoration: none;
}

.terminal a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.terminal a.xterm-invalid-link:hover {
  cursor: text;
  text-decoration: none;
}

.terminal .terminal-cursor {
  position: relative;
}

.terminal:not(.focus) .terminal-cursor {
  outline-offset: -1px;
}

.terminal.xterm-cursor-style-block.focus:not(.xterm-cursor-blink-on) .terminal-cursor {
}

.terminal.focus.xterm-cursor-style-bar:not(.xterm-cursor-blink-on) .terminal-cursor::before,
.terminal.focus.xterm-cursor-style-underline:not(.xterm-cursor-blink-on) .terminal-cursor::before {
  content: '';
  position: absolute;
}

.terminal.focus.xterm-cursor-style-bar:not(.xterm-cursor-blink-on) .terminal-cursor::before {
  top: 0;
  left: 0;
  bottom: 0;
  width: 1px;
}

.terminal.focus.xterm-cursor-style-underline:not(.xterm-cursor-blink-on) .terminal-cursor::before {
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
}

.terminal .composition-view {
  display: none;
  position: absolute;
  white-space: nowrap;
  z-index: 1;
}

.terminal .composition-view.active {
  display: block;
}

.terminal .xterm-viewport {
  /* On OS X this is required in order for the scroll bar to appear fully opaque */
  overflow-y: scroll;
  margin-top: 0px !important;
}

.terminal .xterm-wide-char,
.terminal .xterm-normal-char {
  display: inline-block;
}

.terminal .xterm-rows {
  position: absolute;
  left: 0;
  top: 0;
}

.terminal .xterm-rows > div {
  /* Lines containing spans and text nodes ocassionally wrap despite being the same width (#327) */
  white-space: nowrap;
}

.terminal .xterm-scroll-area {
  visibility: hidden;
}

.terminal .xterm-char-measure-element {
  display: inline-block;
  visibility: hidden;
  position: absolute;
  left: -9999em;
}

.terminal.enable-mouse-events {
  /* When mouse events are enabled (eg. tmux), revert to the standard pointer cursor */
  cursor: default;
}

.terminal .xterm-selection {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.3;
  pointer-events: none;
}

.terminal .xterm-selection div {
  position: absolute;
}

/*
*  Determine default colors for xterm.js
*/
.terminal .xterm-bold {
  font-weight: bold;
}

.terminal .xterm-underline {
  text-decoration: underline;
}

.terminal .xterm-blink {
  text-decoration: blink;
}

.terminal .xterm-blink.xterm-underline {
  text-decoration: blink underline;
}

.terminal .xterm-hidden {
  visibility: hidden;
}
