#serverInfo {
  height: 25px;
  font-family: 'Source Code Pro', monospace;
  font-size: 12px;
}
.terminal {
  font-family: 'Source Code Pro', monospace;
  font-size: 12px;
  width: calc(100vw - 260px);
  height: 95vh;
}
.terminal .xterm-viewport {
  margin-top: 0px !important;
}
