/**
 * General
 */
html, body, #app {
  background: #eee;
}
.fa {
  color: black;
}
.btn-success {
  background: #8888aa !important;
  color: #fff !important;
  border: none !important;
}
.btn-success:hover {
  background: #666666 !important;
}
.btn-default {
  background: #779977 !important;
  color:#fff !important;
}
.btn-default:hover {
  background: #555555 !important;
}
.btn-info {
  background: #878dac !important;
  color: #fff!important;
  border: none !important;
}
.btn-info:default {
  background: #888888;
}
.btn-danger {
  background: #cc0000 !important;
  color: white !important;
  border: none !important;
}
.btn-danger:hover {
  background: #aa0000 !important;
}
input {
  border: #555555 !important;
  background: white !important;
  color: black !important;
}
select {
  background: white !important;
  color: black !important;
}
textarea {
  background: white !important;
  color: black !important;
}
.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
	background-color: #bbb;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #ddd;
}
.btn i {
  color: white;
}


/**
 * About Modal
 */
#about a, #about a:hover, #about a:active, #about a:visited {
  color: #aaaaaa;
}

#about .modal {
  border: 1px solid black;
}

#about .modal-content .modal-header {
  color: #333333;
  background: #cccccc;
  border-bottom: 1px solid #bbbbbb;
}

#about .modal-content .modal-body {
  color: #333333;
  background: #cccccc;
}


/**
 * Alert Box
 */
#alertBox {
  color: #555555;
  background: #eeeeee;
  border-bottom: 1px solid #5bc0de;
  box-shadow: 0px 5px 5px #000000;
}
#dismissAlert {
  background: #5bc0de;
  color: white;
}
#alertBox .form-control, #alertBox .form-control:focus {
  background: #cccccc;
  color: #aaaaaa;
}
#alertBox .error {
  color: red !important;
}


/**
 * Left Menu
 */
#left-menu {
  background: #ddd;
}

/**
 * Main View
 */
#mainView {
  background: #eee;
  color: #aaa;
}
#mainView #tabs {
  border-left: 1px solid #eeeeee;
}
.tab-content {
  background: #eee;
  color: #333333;
}
#mainView .tabs-background {
  background: #aaaaaa;
}
#mainview .tab-pane {
  background: #eee;
}
.nav-tabs>li>a {
  background-color: #bbbbbb;
  color:#000;
}
.nav-tabs>li>a:hover i{
  color: #000;
}
.nav-tabs > li > a.active{
  background: #eeeeee !important;
  color: #666666 !important;
}

/**
 * Org Menu
 */
#leftMenuExpanded {
  background: #ccc;
  color: #000;
}
#leftMenuExpanded .header {
  background: #ccc;
  color: #000;
}
#leftMenuExpanded .select {
  background: #ddd;
}
#leftMenuExpanded #orgSettings {
  border-bottom: 1px solid #ddd;
}
#leftMenuExpanded .cloudServiceContent div:hover {
  background: white;
}

/**
 * Aws Region
 */
#cloudTable tbody:nth-child(even) {
  background: #dddddd !important;
}
#cloudTable tbody:nth-child(odd) {
  background: #eeeeee !important;
}
#cloudTable tbody {
  border-bottom: 1px solid #555555;
}
#cloudTable tr th {
  background: #bbbbbb;
}
#cloudSettingsHeader th {
  background: #999999 !important;
  border-bottom: 1px solid #555555;
}

/**
 * What's New
 */
#whatsnew {
  background: #eeeeee;
}
#whatsnew .versionwrapper {
  box-shadow: 4px 4px 8px #000;
  border: 1px solid #666666;
}

/**
 * Org Settings
 */
#orgSettings {
  background: #eee;
}
#orgSettings .cloudBordered {
  box-shadow: 4px 4px 8px #000;
  border: 1px solid #666666;
}
#orgSettings .cloudKeys {
  background: #ccc;
}
#orgSettings .cloudConfig {
  background: #ccc;
}
#orgSettings .keystable {
  border-top: 1px solid #888888;
}

/**
 * SSH Terminal
 */
#serverInfo {
    background: #dddddd;
    color: #666666 !important;
}
.terminal {
  background-color: #fff;
  color: #000;
}
.terminal:not(.focus) .terminal-cursor {
  outline: 1px solid #000;
}

.terminal.xterm-cursor-style-block.focus:not(.xterm-cursor-blink-on) .terminal-cursor {
  background-color: #fff;
  color: #000;
}

.terminal.focus.xterm-cursor-style-bar:not(.xterm-cursor-blink-on) .terminal-cursor::before,
.terminal.focus.xterm-cursor-style-underline:not(.xterm-cursor-blink-on) .terminal-cursor::before {
  background-color: #000;
}

.terminal .composition-view {
  background: #fff;
  color: #000;
}

.terminal .xterm-viewport {
  /* On OS X this is required in order for the scroll bar to appear fully opaque */
  background-color: #fff;
}
